<section class="artists section" id="artists">
  <div class="artists-container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-subtitle">Explore Your New Favourite Artists</p>

    <ul class="artists-list" id="artistsList"></ul>

    <button class="load-more is-hidden" id="loadMoreBtn">Load More</button>

    <div id="artistsLoader" class="loader is-hidden loader-overlay">
      <div class="loadingio-spinner-radio-2by998twmg8">
        <div class="ldio-yzaezf3dcmj">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
