<!-- htmlhint doctype-first:false -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" aria-label="Close 
    modal">
      <svg width="14.06" height="14.06" viewBox="0 0 24 24" aria-hidden="true">
        <path
          d="M6 6l12 12M18 6l-12 12"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
    </button>
    <div id="modalLoader">
      <div class="loadingio-spinner-radio-2by998twmg8">
        <div class="ldio-yzaezf3dcmj">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="modal-content"></div>
  </div>
</div>
