<!-- htmlhint doctype-first:false -->

<div class="modal">
  <button class="modal-close-btn" type="button">x</button>
  <div class="modal-content"></div>
  <!-- <div class="artist-info">
    <div class="info-row">
      <span class="label">Years active</span>
      <span class="value"></span>
    </div>

    <div class="info-row">
      <span class="label">Sex</span>
      <span class="value"></span>
    </div>

    <div class="info-row">
      <span class="label">Members</span>
      <span class="value">sdf</span>
    </div>

    <div class="info-row">
      <span class="label">Country</span>
      <span class="value"></span>
    </div>

    <div class="info-row">
      <span class="label">Biography</span>
      <span class="value"></span>
    </div>

    {artist.tracksList.map(album => `
    <div class="album-card">
      <h2>Ghost Gardens</h2>

      <div class="table-header">
        <span>Track</span>
        <span>Time</span>
        <span>Link</span>
      </div>

      <div class="track">
        <span>Rip Me Apart</span>
        <span>3:02</span>
        <button>▶</button>
      </div>

      <div class="track active">
        <span>Dig</span>
        <span>2:54</span>
        <span></span>
      </div>

      <div class="track">
        <span>Tremor</span>
        <span>2:02</span>
        <button>▶</button>
      </div>

      <div class="track">
        <span>Lethal Poetry</span>
        <span>3:32</span>
        <button>▶</button>
      </div>

      <div class="track">
        <span>Lost Inside</span>
        <span>3:54</span>
        <span></span>
      </div>

      <div class="track">
        <span>Flutter</span>
        <span>1:49</span>
        <button>▶</button>
      </div>
    </div>
    `)}
  </div> -->
</div>
