<!-- htmlhint doctype-first:false -->
<section class="feedback section" aria-labelledby="feedback-title" id="feedback-js">
  <div class="container">
  <div class="feedback-div">
    <h1 class="visually-hidden">Feedbacks our visitors</h1>
  <h2 class="feedback-title" id="feedback-title">"ArtistsHub has transformed the way I discover new music. It's like having a personal DJ that knows my <span class="taste">taste perfectly</span>!"</h2>
  <p class="feedback-name">Emily Johnson</p>
  </div>
  </div>
</section>
