<!-- htmlhint doctype-first:false -->
<!-- !!!section HERO!!! -->
<section class="hero section">
  <!-- Українською: Тематична група контенту / English: Thematic content group -->
  <div class="container">
    <!-- Українською: Універсальний контейнер / English: Universal container -->
    <div class="hero-wrapper">
      <!-- Українською: Універсальний контейнер / English: Universal container -->
      <h1 class="hero-title" id="hero-title">Discover Your Next Favorite Artist Today</h1>
      <!-- Українською: Заголовок 1рівня / English: Heading level 1 -->
      <h2 class="hero-description">
        <!-- Українською: Заголовок 2 рівня / English: Heading level 2 -->
        Dive into a world of music discoveries with ArtistsHub – your personal guide to the
        boundless universe of sound. Explore, filter, and learn about your favorite artists all in
        one place.
      </h2>
      <button class="explore-btn" type="button" id="btn-hero-js">
        <!-- Українською: Елемент навігації / English: Navigation element -->
        Explore Artists<svg class="arrow" width="15" height="21">
          <use href="../img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="bg-image">
      <!-- Українською: Універсальний контейнер / English: Universal container -->
    </div>
  </div>
</section>
