/* Mobile 320px */
.about-wrapper {
  display: flex;
  flex-direction: column;

  /* правка */
  align-items: center;

  /* правка */
  gap: 48px;
  box-sizing: border-box;
}

/* правка */
.about-image {
  width: 100%;
  max-width: 288px;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

/* правка */

/* правка */
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* правка */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  /* правка */
  width: 100%;

  /* правка */
}

.about-icon {
  width: 64px;
  height: 64px;
  fill: #fff;
}

.about-title {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.about-description {
  font-size: 18px;
}

/* Tablet 768px */
@media only screen and (width >= 768px) {
  .about-wrapper {
    gap: 24px;
  }

  .about-image {
    max-width: 704px;
  }

  /* правка */

  /*
  .about-img {
    width: 704px;
    max-width: 100%;
  }
    */

  /* правка */

  .about-content {
    max-width: 704px;
    gap: 24px;
  }

  .about-icon {
    width: 80px;
    height: 80px;
  }

  .about-description {
    font-size: 20px;
  }
}

/* Desktop 1440px */
@media only screen and (width >= 1440px) {
  .about-wrapper {
    flex-direction: row;
    align-items: center;

    /* правка */
    justify-content: center;

    /* правка */
    gap: 32px;
  }

  /* правка */
  .about-image {
    max-width: 640px;
    aspect-ratio: 640 / 665;
  }

  /* правка */

  /* правка */

  /*
  .about-img {
    width: 640px;
    max-width: none;
  }
  */

  /* правка */

  .about-title {
    font-size: 60px;
  }

  .about-content {
    max-width: 640px;
  }
}
