/* Секція артистів — наслідує .section. Кольори: #fff, #060307. Відступи: 64px / 112px (1440px) */

/* ===== Artists Section ===== */

.artists {
  padding: 80px 0;
}

.artists-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

.artists-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

.artists-subtitle {
  font-size: 44px;
  color: #fff;
  margin-bottom: 32px;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

/* ===== Artists List ===== */

.artists-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media only screen and (min-width: 1440px) {
  .artists-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== Artist Card ===== */

.artist-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.artist-thumb {
  width: 100%;
  aspect-ratio: 16 / 10;
  padding: 16px;
  overflow: hidden;
}

.artist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
}

.artist-content {
  padding: 16px;
  flex-grow: 1;
}

.artist-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.artist-genre {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  padding: 4px 10px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;

  background: rgba(255, 255, 255, 0);

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
}

.artist-name {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 8px;
}

.artist-bio {
  font-size: 18px;
  line-height: 1.5;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.artist-more {
  margin-top: auto;
  font-size: 18px;
  font-weight: 500;
  background: transparent;

  display: inline-flex;
  align-items: center;
  gap: 16px;

  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;

  appearance: none;
  -webkit-appearance: none;
}

.artist-more::after {
  content: "▶";
  color: #fff;
  transition: transform 0.3s ease;
}

.artist-more:hover::after {
  transform: translateX(4px);
}

/* ===== Load More ===== */

.load-more {
  display: block;
  margin: 32px auto 0;
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  color: #fff;
  border: none;
}

.load-more::after {
  content: " ↓";
  color: #fff;
  transition: transform 0.3s ease;
}

/* ===== Loader ===== */

.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0);
  /* Колір фону під час завантаження */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s;
  /* Плавність */
}

@keyframes ldio-yzaezf3dcmj {
  0% {
    opacity: 0
  }

  20% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

.is-hidden {
  display: none;
}

.ldio-yzaezf3dcmj div {
  position: absolute;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
  box-sizing: border-box !important;
  display: block;
  margin: 0 auto;
}

.ldio-yzaezf3dcmj div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: #3a3a59;
}

.ldio-yzaezf3dcmj div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid #5e35a6;
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0
}

.ldio-yzaezf3dcmj div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid #8b5cf6;
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0
}

.loadingio-spinner-radio-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.0);
  margin: 0 auto;
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}
