.backdrop {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.modal {
  width: 288px;
  padding: 64px 16px;
  max-height: 90vh;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 3, 7, 1);
  border-radius: 16px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1001;
  overflow-y: auto;
}

.is-hidden {
  display: none;
}

.artist-image img {
  display: block;
  margin: auto;
  width: 272px;
  height: auto;
  border-radius: 16px;
  padding-bottom: 32px;
}

.artist-container {
  margin-bottom: 16px;
}

.artist-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}

.info-row {
  display: flex;
  flex-direction: column;
}

.artist-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.value {
  font-size: 18px;
  font-weight: 400;
}

.info-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.info-genre {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  padding: 4px 10px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;

  background: rgba(255, 255, 255, 0);

  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.modal-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ALBUM */

.albums-list {
  display: grid;
  gap: 32px;
}

.albums-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.album-card {
  background-color: rgba(30, 28, 31, 1);
  border-radius: 24px;
  padding: 14px 11px;
  max-width: 420px;
}

.album-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.tracks-header {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;

  background-color: rgba(255, 255, 255, 0.05);
  padding: 4px 12px;

  border-radius: 8px;
  font-size: 8px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 8px;
}

.tracks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.track {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  align-items: center;
  background: #2a2a2e;
  border-radius: 8px;
  padding: 11px 12px;
}

.track-name,
.track-time {
  font-size: 12px;
  font-weight: 400;
}

.tracks-list .track:nth-child(odd) {
  background-color: rgba(30, 28, 31, 1);
}

.tracks-list .track:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.track-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}

.track-link:hover {
  opacity: 0.8;
}

.track-link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .modal {
    width: 702px;
    padding: 64px 33px;
    max-height: 90vh;
  }

  .artist-image img {
    width: 654px;
  }

  .artist-title {
    font-size: 32px;
    margin-bottom: 48px;
  }

  .artist-info {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 24px;
  }

  .info-row--bio {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
  }

  .info-row--genres {
    grid-row: 4;
    grid-column: 1 / -1;
  }

  /* Album */
  .albums-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .modal {
    width: 1312px;
    padding: 64px 33px;
    max-height: 90vh;
  }

  .artist-container {
    display: grid;
    grid-template-columns: 576px 1fr;
    gap: 32px;
  }

  .artist-image img {
    width: 576px;
  }

  .artist-info {
    display: grid;
    grid-template-columns: 146px 1fr;
  }

  /* Album */
  .albums-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
