/* ========== Body / Тіло сторінки ========== */

/* Адаптивність: 320px (mobile), 768px (tablet), 1440px (desktop) */
body {
  min-width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #060307;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-main {
  flex-grow: 1;
}

/* Усі секції: фон, колір, вертикальні відступи */
.section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #060307;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* Tablet 768px */
@media only screen and (width >= 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}

/* Desktop 1440px */
@media only screen and (width >= 1440px) {
  body {
    font-size: 18px;
    line-height: 1.67;
  }

  .section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
