/* ========== Container / Контейнер ========== */

/* Брейкпоінти узгоджені з base.css: 768px, 1440px */

/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Styles for Tablet devices */
@media only screen and (width >= 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (width >= 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
