/* ========== Container / Контейнер ========== */

/* Mobile 320px */
.container {
  width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

/* Tablet 768px */
@media only screen and (width >= 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop 1440px */
@media only screen and (width >= 1440px) {
  .container {
    width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
