/* ========== Container / Контейнер ========== */

/* Гумова верстка: ширина 100% до max-width. Брейкпоінти: 320px, 768px, 1440px */

/* Mobile: гумовий контейнер від 320px */
.container {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet 768px */
@media only screen and (width >= 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop 1440px */
@media only screen and (width >= 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
