/* Mobile 320px */
.hero {
  position: relative;
  background-color: #23132b;
  overflow: hidden;
  padding-bottom: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(180deg, rgb(6 3 7 / 100%), rgb(35 19 43 / 0%));
  pointer-events: none;
  z-index: 10;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 106px;
  background: linear-gradient(0deg, rgb(6 3 7 / 100%), rgb(35 19 43 / 0%));
  pointer-events: none;
  z-index: 10;
}

.hero .container {
  padding: 0 16px;
  box-sizing: border-box;
}

.hero-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 288px;
  max-width: 100%;
  height: auto;
  margin-bottom: 64px;
}

.hero-title {
  font-family: Epilogue, sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  border: none;
  border-radius: 12px;
  padding: 0;
  width: 288px;
  max-width: 100%;
  height: 47px;
  box-sizing: border-box;
  box-shadow:
    0 1px 2px 0 rgb(6 3 7 / 5%),
    inset 0 -2px 1px 0 rgb(0 0 0 / 20%),
    inset 0 0 0 1px rgb(6 3 7 / 15%),
    inset 0 2px 1px 0 rgb(255 255 255 / 25%),
    inset 0 32px 24px 0 rgb(255 255 255 / 5%);
  background: #764191;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  transition: background 0.2s ease-in-out;
}

.explore-btn:hover,
.explore-btn:focus {
  background: rgb(118 65 145 / 60%);
}

.bg-image {
  background-color: #23132b;
  width: 288px;
  height: 385px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/img/hero/bg-image-mobile.webp");
}

@media (width <= 767px) and (resolution >= 192dpi) {
  .bg-image {
    background-image: url("/img/hero/bg-image-mobile@2x.webp");
  }
}

/* Tablet 768px */
@media only screen and (width >= 768px) {
  .hero::after {
    height: 137px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    box-sizing: border-box;
  }

  .hero-wrapper {
    width: 704px;
    align-self: center;
    margin-bottom: 32px;
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 24px;
    width: 600px;
  }

  .hero-description {
    font-size: 20px;
    margin-bottom: 32px;
    width: 624px;
  }

  .explore-btn {
    width: 246px;
    height: 47px;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .bg-image {
    width: 704px;
    height: 632px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/hero/bg-image-tablet.webp");
  }
}

@media only screen and (width >= 768px) and (width <= 1439px) and (resolution >= 192dpi) {
  .bg-image {
    background-image: url("/img/hero/bg-image-tablet@2x.webp");
  }
}

/* Desktop 1440px */
@media only screen and (width >= 1440px) {
  .hero {
    padding: 0;
  }

  .hero .container {
    flex-direction: row;
    padding: 0 64px;
    box-sizing: border-box;
  }

  .hero-wrapper {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 672px;
  }

  .hero-title {
    font-size: 84px;
  }

  .explore-btn {
    width: 206px;
    margin: 0;
    max-width: none;
  }

  .bg-image {
    height: 960px;
    width: 641px;
    margin: 0;
    background-image: url("/img/hero/bg-image-desktop.webp");
  }
}

@media only screen and (width >= 1440px) and (resolution >= 192dpi) {
  .bg-image {
    background-image: url("/img/hero/bg-image-desktop@2x.webp");
  }
}
