/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common styles / Загальні стилі */
@import url("./reset.css");
@import url("./base.css");
@import url("./container.css");

/* Section styles / Стилі секцій */
@import url("./header.css");
@import url("./hero.css");
@import url("./about.css");
@import url("./advantages.css");
@import url("./assortment.css");
@import url("./gallery.css");
@import url("./feedbacks.css");
@import url("./support.css");
@import url("./footer.css");
