/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common styles / Загальні стилі */
@import url("./reset.css");
@import url("./base.css");
@import url("./container.css");

/* Section styles / Стилі секцій */
@import url("./header.css");
@import url("./header-modal.css");
@import url("./hero.css");
@import url("./artists.css");
@import url("./about.css");
@import url("./feedback.css");
@import url("./artist-modal.css");
@import url("./footer.css");
