.to-top-btn {
    /* Спочатку прихований */
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;

    /* Стилізація */
    width: 60px;
    height: 60px;
    background-color: #3a3a59;
    color: #8b5cf6;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}


.to-top-btn:hover {
    background-color: #5e35a6;
    transform: translateY(-5px);
    /* Легкий ефект підстрибування */
}

/* Клас для появи */
.to-top-btn.show {
    display: block;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}